@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
    background-color: #000;
    color: #fff;
    font-family: Bebas Neue, sans-serif;
    text-align: left;
    padding: 20px;
  }
  
  h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  
  .subscribe-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  input[type="email"] {
    width: 400px; 
    padding: 15px;
    margin-right: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #ddd;
  }
  .subscribe-button {
    background-color: #fff;
    color: #000; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .subscribe-button:hover {
    background-color: #ddd; 
  }
  
  .error-message,
  .success-message {
    color: #e9e4e9;
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
  }
  
