/* ------------------------- Sidebar styling ------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");



#sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0; 
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: "Bebas Neue", sans-serif;
  }
  
#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#sidebar ul li a:hover {
    color: #f1f1f1;
}

#sidebar ul li h1 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    display: block;
}